{% for commento in comments %}
    <table>
        <tr>
            <td>
                <strong>{{ commento.author }}</strong>: {{ commento.comment }}<br />
            </td>
            <td>
                <a  
                href="{{ path('sensorario_comment_delete', {'unique_id': commento.unique_id}) }}"
                class="SensorarioCommentsDelete"
                id="delete_{{ commento.id }}"
                data="{{ commento.id }}">cancella</a>
            </td>
        </tr>
    </table>
{% endfor %}