<script type="text/javascript">
    var sensorario_comments_comments = "{{ path('sensorario_comments_comments', {'id': id}) }}";
    var sensorario_comment_create = "{{ path('sensorario_comment_create', {'id': id}) }}";
    var sensorario_comments_index = "{{ path('sensorario_comments_template', {'id': id}) }}";
    var sensorario_comments_id = "{{ id }}";
</script>
<script type="text/javascript" src="{{ asset('bundles/sensorariocomment/js/sensorario.comments.js') }}"></script>
<div class="SensorarioComments"></div>
<div class="SensorarioCommentsComments"></div>